<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <div class="container">
    <h1>📰 All Blogs</h1>
    <a href="/blog/add" class="btn">➕ Add Blog</a>
    <a href="/logout" class="btn logout">Logout</a>

    <div class="blog-list">
      <% if (blogs && blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <div class="blog-card">
            <% if (blog.image) { %>
              <img src="<%= blog.image %>" alt="Blog Image">
            <% } %>
            <h3><%= blog.title %></h3>
            <p><%= blog.content.substring(0, 150) %>...</p>
            <p class="author">By <%= blog.author %></p>
            <a href="/blog/<%= blog._id %>" class="btn">Read More</a>
            <a href="/blog/delete/<%= blog._id %>" class="btn delete">Delete</a>
          </div>
        <% }) %>
      <% } else { %>
        <p>No blogs yet 😢</p>
      <% } %>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
